/ScryBook.spec
/.idea/.gitignore
/.idea/.name
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/ScryBook.iml
/ScryBook_Setup.exe
/post_build.py
/creer_exe.bat
/setup.iss

